/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/* icon-fonts */
@font-face {
    font-family: 'icons';
    src: url('../fonts/icons.eot');
    src: url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icons.woff') format('woff'),
    url('../fonts/icons.ttf') format('truetype'),
    url('../fonts/icons.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
    display: inline-block;
    font-family: 'icons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.icon-arrow-left:before{content:'\0041';}
.icon-arrow-right:before{content:'\0042';}
.icon-camera:before{content:'\0043';}
.icon-repair:before{content:'\0044';}
.icon-money_pig:before{content:'\0045';}
.icon-mail:before{content:'\0046';}
.icon-handshake:before{content:'\0047';}
.icon-instagram:before{content:'\0048';}

/* General styles */

button {
    border-radius: 2px;
    outline: 0;
    border: 0;
    color: white;
    font-family: "Nunito Sans", serif;
    font-style: italic;
}

button:hover {
    cursor: pointer;
}

.phone {
    font-family: "Nunito Sans", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}

.title {
    margin: 0;
    font-family: "Yeseva One", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.subtitle {
    font-family: "Yeseva One", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    margin-bottom: 13px;
}

.input {
    font-family: "Nunito Sans", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}

body {
    margin: 0;
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.wrapper {
    min-width: 1438px;
    margin: 0 auto;
}

a:hover {
    cursor: pointer;
}

.yelow-text {
    color: #E3B873;
}

/* Header styles */

.header-btn {
    box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
    padding: 13px 33px;
}

.logo {
    width: 180px;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
}

header, .block2 {
    background-color: #131313;
}

.header-wrapper {
    display: flex;
    justify-content: space-around;
    height: 83px;
    align-items: center;
}

.header-menu, .block2__img-wrapper__menu {
    list-style: none;
    display: flex;
}

.header-menu__item {
    margin-right: 47px;
}

.header-menu__item a {
    text-decoration: none;
    font-family: "Nunito Sans", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
}

.header-menu__item a:hover {
    color: #E3B873;
}

/* Buttons */

.main-btn {
    background-color: #E3B873;
    box-shadow: 0 5px 15px rgba(227, 184, 115, 0.22);
    padding: 19px 42px;
}

.btn-alt {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background-color: transparent;
    padding: 18px 22px;
    margin-left: 20px;
}

.btn-wrapper {
    margin-top: 41px;
}

/* Section 1 (hero) */

.hero {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    height: 707px;
    position: relative;
}

.hero-overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .7);
}

.hero-wrapper {
    position: relative;
    z-index: 1;
    padding-top: 194px;
    padding-left: 135px;
    Width: 676px;
    Height: 105px;
    margin: 0;
}

.hero-text {
    Width: 504px;
    height: 105px;
    font-family: "Nunito Sans", serif;
    z-index: 1;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    margin-top: 19px;
}

/* Section 2*/

.block2__wrapper {
    display: flex;
    width: 1171px;
    height: 1074px;
    padding-top: 107px;
    margin: 0 auto;
}

/* Section 2 - text-block */

.block2__title {
    font-family: "Yeseva One", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    margin-bottom: 34px;
}

.block2__main-text {
    font-family: "Nunito Sans", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 42px;
}

.block2__text-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.block2__text-wrapper__blocks {
    display: flex;
    flex-wrap: wrap;
}

.block2__text-wrapper__blocks-item {
    width: 50%;
    margin-bottom: 34px;
}

.block2__text-wrapper__blocks-header {
    font-family: "Yeseva One", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 9px;
}

.block2__text-wrapper__blocks-text {
    font-family: "Nunito Sans", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

/* Section 2 img-block */

.block2__img-wrapper {
    display: flex;
    flex-direction: column;
}

.block2__img-wrapper__menu {
    justify-content: space-between;
    margin-bottom: 53px;
}

.block2__img-wrapper__img {
    width: 679px;
    height: 482px;
}

.block2__img-wrapper__menu-item a {
    font-family: "Yeseva One", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
}

.block2__img-wrapper__menu-item a:hover {
    padding-bottom: 6px;
    border-bottom: 2px solid #E3B873;
    color: #E3B873;
}

.block2__nav {
    margin-top: 80px;
    display: flex;
    width: 50%;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.block2__nav span {
    cursor: pointer;
}

.block2__nav-arrow {
    font-size: 42px;
}

.block2__nav-item {
    width: 10px;
    height: 10px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.3);
    margin-bottom: 10px;
}

.block2__nav-item:hover {
    background: #FFFFFF;
}

/* section 3 */
.block3 {
    text-align: center;
}

.block3__wrapper {
    width: 817px;
    margin: -298px auto 0;
}

.block3_subtitle {
    color: #FFFFFF;
}

.camera-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.ribbon {
   margin: 0 8px;
}

.icon {
    font-size: 33px;
    color: #E3B873;
    text-align: center;
}

.icon-camera::before {
    background: #E3B873;
    width: 32px;
    height: 1px;
}

.icon-camera::after {
    background: #E3B873;
    width: 32px;
    height: 1px;
}


.block3__video-wrapper {
    position: relative;
    background-image: url("../images/worker.png");
    background-size: cover;
    width: 817px;
    height: 434px;
    margin-bottom: 63px;
}

.block3__video-overlay {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
}

.play-button {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    position: relative;
    top: 38%;
}

.play-button__img {
    position: absolute;
    top: 34%;
    left: 43%;
}

.block3__text {
    margin-top: 99px;
}

.block3__submit {
    border-radius: 2px;
    Width: 200px;
    height: 51px;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
}